<div class="card">
  <h3 class="card-header">Search results</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="link-underline link-underline-opacity-0" href="#">*foo</a>
      by
      <a class="link-underline link-underline-opacity-0" href="#">@bar</a>
      <span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>
      <p class="fst-italic">baz</p>
      <div class="form-text">Created on 2024</div>
    </li>
  </ul>
</div>
