{% extends "base.html" %} {% block title %}Era2 scoreboard - latest{% endblock %} {% block theme %}dark{% endblock %} {% block body %}
<h1>PewPewDB</h1>
<h2>Era2 scoreboard ({{ date }})</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Score</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">WR</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <th scope="row">{{ entry[0] }}</th>
      <td>{{ entry[3] }}</td>
      <td>
        <a class="link-underline link-underline-opacity-0" href="{{ url_for('user', id=entry[1]) }}"
          >{{ entry[2]|colorize(true) }}</a
        >
      </td>
      <td>{{ entry[4]|flag }} {{ entry[4]|country }}</td>
      <td>{{ entry[5] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
